* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
strong {
  color: hsl(160, 100%, 30%);
}

.intro-chunk {
  padding: 64px 16px;
  max-width: 50%;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.indented-heading {
  background-color: hsl(45, 100%, 50%);
  border-bottom: 10px solid hsl(45, 100%, 40%);
  padding: 32px 48px;
  margin-left: -48px;
  margin-top: 0;
  width: fit-content;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 10px solid hsl(0, 0%, 40%);
  padding: 8px 16px 16px;
  margin-top: 128px;
}

main {
  background-color: hsl(0, 0%, 60%);
  border-top: 10px solid hsl(0, 0%, 40%);
  height: 100%;
}


.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}